/*
See LICENSE.txt for licensing information

This CSS was derived from StackOverflow.com.
Only includes question-summary related styles,
All class names prefixed with 'se' and only apply
within an element with the '.se-question-summary' class.
*/
.se-question-summary {
    color: #000;
    font-family: Arial, Liberation Sans, DejaVu Sans, sans-serif;
    font-size: 80%;
    border-bottom: 1px solid #DEDEDE;
    overflow: hidden;
    padding: 6px 0px;
    width: 730px;
    /* from .container */    
    margin: 0 auto;
    text-align: left;
    zoom: 1;
    /* from #mainbar */
    float: left;
}
.se-question-summary .se-statscontainer {
    width: 86px;
    float: left;
    margin-right: 8px;
}
.se-question-summary .statsarrow {
    float: right;
    height: 13px;
    width: 7px;
    margin-top: 12px;
    background-position: 0px -435px;
}

.se-question-summary .se-stats {
    background: #EEE;
    margin: 0 0 0 7px;
    padding: 4px 7px 6px 7px;
    width: 58px;
}
.se-question-summary .se-vote {
    text-align: center;
}
.se-question-summary .se-votes {
    color: #555;
    text-align: center;
    background: #eee;
    padding: 0 0 7px 0;
}

.se-question-summary .se-vote span {
display: block;
color: #808185;
font-weight: bold;
}

.se-question-summary a {
    color: #07c;
    text-decoration: none;
    cursor: pointer;
}
.se-question-summary a:hover {
    text-decoration: underline;
}
.se-question-summary a:visited {
    color: #4A6B82;
}
.se-question-summary h1 {
    font-family: Trebuchet MS, Liberation Sans, DejaVu Sans, sans-serif;
    font-weight: bold;
    font-size: 170%;
    margin-bottom: 7px;
}
.se-question-summary h2 {
    font-family: Trebuchet MS, Liberation Sans, DejaVu Sans, sans-serif;
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 7px;
}
.se-question-summary h3 {
    font-family: Trebuchet MS, Liberation Sans, DejaVu Sans, sans-serif;
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 5px;
}

.se-question-summary .se-mini-counts {
    height: 25px;
    font-size: 190%;
    font-weight: bold;
}
.se-question-summary .se-reputation-score {
    font-weight: bold;
    color: #444;
    font-size: 120%;
    margin-right: 2px;
}
.se-question-summary .se-relativetime {
    font-weight: bold;
    text-decoration: none;
}
.se-question-summary .se-question-hyperlink {
    font-weight: bold;
}
.question-summary {
    border-bottom: 1px dotted #999;
    overflow: hidden;
    padding: 11px 0;
    width: 730px;
    float: left;
}
.se-question-summary .se-views {
    color: #999;
    text-align: center;
    padding-top: 4px;
}
.se-question-summary .se-views strong {
    display: block;
}

.se-question-summary .se-views-1k {
    color: #9B764F;
}

.se-question-summary .se-views-10k {
    color: #CF7721;
}

.se-question-summary .se-views-100k {
    color: #FE7A15;
}

.se-question-summary .se-status {
    text-align: center;
    padding: 4px 0px 4px;
}
.se-question-summary .se-status strong {
    display: block;
    font-size: 140%;
}
.se-question-summary .se-answered {
    background: #75845C;
    color: #fff;
}
.se-question-summary .se-answered-accepted {
    background: #75845C;
    color: #E1E818;
}
.se-question-summary .se-answered-accepted strong {
    color: #E1E818;
}
.se-question-summary .se-unanswered {
    color:#9A4444; 
}
.se-question-summary .se-summary {
    float: left;
    width: 635px;
}
.se-question-summary .se-summary h3 {
    font-size: 130%;
}
.se-question-summary .se-tags {
    line-height: 18px;
    float: left;
}
.se-question-summary .se-tags a:hover {
    text-decoration: none;
}
.se-question-summary .se-user-info .user-gravatar32{
    float: left;
    width: 32px;
    height: 32px;
}
.se-question-summary .se-user-info {
    height: 35px;
    width: 185px;
}
.se-question-summary .se-user-info .se-user-details{
    float: left;
    margin-left: 5px;
    width: 145px;
    overflow: hidden;
    white-space: nowrap; 
}
.se-question-summary .se-started {
    color: #999;
    float: right;
    width: auto;
    line-height: inherit;
    padding-top: 4px;
    white-space: nowrap;
}
.se-question-summary .se-started img {
    vertical-align: baseline;
}
.se-question-summary .se-started .reputation-score {
    margin-left: 1px;
}
.se-question-summary .se-post-tag {
    color: #3E6D8E;
    background-color: #E0EAF1;
    border-bottom: 1px solid #3E6D8E;
    border-right: 1px solid #7F9FB6;
    margin: 2px 2px 2px 0;
    padding: 3px 4px 3px 4px;
    text-decoration: none;
    font-size: 90%;
    line-height: 2.4;
    white-space: nowrap;
}
.se-question-summary .se-post-tag:hover {
    background-color: #3E6D8E;
    color: #E0EAF1;
    border-bottom: 1px solid #37607D;
    border-right: 1px solid #37607D;
    text-decoration: none;
}
.se-question-summary .se-cp {
    cursor: pointer;
}
